*{text-align: start;
    color: var(--link-color);}
:root {
        --primary-color: #414042;
        --secondary-color: #58595B;
        --tertiary-color: #111111;
        --link-color: white;
        --link-hover-color: #1a212c;
        --dark-color: #1e1e1f;
        --black-color: #0d0d0e;
}
.mainDiv{
    width: 90%;
    margin: 50px;
    position: relative;

}
.FeaturedWork{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
}
.FeaturedWorkList{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    overflow-x: auto;
}
.FeaturedWorkListDiv{
    align-items: center;
    position: relative;
}
.FeaturedWorkList li{
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--black-color);
    margin: 0 10px;
}
.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 2 columns */
    gap: 10px; /* Space between grid items */
    width: 100%; 
     
    

  }
  .viewMoreButton{
    background-color: var(--black-color);
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    transition: transform .3s ease-in-out;
  }
  .viewMoreButton:hover{
    background-color: var(--secondary-color);
    transform: scale(1.05);
  }
  .viewMoreButtonDiv{
    align-items: center;
    
    display: flex;
  }
@media (max-width: 768px){
    .FeaturedWorkList li{
        padding: 5px 10px;
        border-radius: 30px;
        background-color: var(--black-color);
        margin: 0 0px;
        font-size: 13px;
    }
    .FeaturedWorkList{
        justify-content: space-between;
    }
    .grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Creates 2 columns */
    gap: 10px; /* Space between grid items */
    width: 100%; 
    margin: auto; 
    

  }
}