.footerMain{
    height: auto;
    width: 100%;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 50px ;
}
.footerMainDiv{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
    
}
.footerMainLeft {
   
   
    margin-right: 0%;
    width: 100%;

    
}
.footerMainRight {
   
    margin-left: 0%;

    
}
.footerMainP{
    font-size: 16px;
    font-weight: 500;
}
.footerMainH3{
    font-size: 35px;
    font-weight: 400;
}
.footerNavList{
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin: 5px 0;
}
.footerNavList:hover{
    color: var(--black-color);
    
   
}
.contactPhoneEmail{
    display: flex;
    margin-top: 25px;
}
.contactPhoneEmail p{
    margin: 10px;
}
.footerMain22{
    width: 85%;
    display: flex;
    flex-direction: column;
}
.FooterNavbar{
    background-color: var(--black-color);
    padding: 15px;
    border-radius: 20px;
}
@media (max-width: 768px){
    .footerNavList{
        font-size: 13px;
        font-weight: 400;
    }
    .footerMainH3{
        font-size: 25px;
        font-weight: 400;
    }
    .footerMainP{
        font-size: 13px;
        font-weight: 500;
    }
    .contactPhoneEmail{
        display: block;
        margin-top: 25px;
    }
    .footerMainDiv{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        
    }
    .footerMainLeft {
   
        margin-left: 0%;
        margin-right: 0%;
        
    }
    .footerMainRight {
       
        margin-left: 0%;
        margin-right: 0%;
        
}
.footerMain{
    height: auto;
    width: 100%;
    background-color: var(--dark-color);
    display: block;
    padding-top: 50px ;
   
}
.contactPhoneEmail p{
    margin: 0px;
}
.footerMain22{
    width: 85%;
    display: block;
}
}