*{text-align: start;
    color: var(--link-color);}
    :root {
        --primary-color: #414042;
        --secondary-color: #58595B;
        --tertiary-color: #111111;
        --link-color: white;
        --link-hover-color: #1a212c;
        --dark-color: #1e1e1f;
        --black-color: #0d0d0e;
      }
.bodyDiv4{
    width: 100%;
    position: relative;
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
  .bodyDiv4First{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
   position: relative;
   margin-bottom: 30px;
   gap: 65vw;
    width: inherit;
}
.bodyDiv4First h2{
  font-size: 25px;
  font-weight: 400;
}
.bodyDiv4ExploreAll{
  background: var(--black-color);
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.cardDetail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  

}
.cardDetail h2{
  margin-right: 20px;
  font-weight: 600;
  position: relative;
  font-size: 30px;
}
.cardDetail h3{
  text-align: end;
  width: 150px;
  font-weight: 400;
  position: relative;
  font-size: 20px;
}

.cardDetailDiv{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  

}
.cardDetailLine{position: relative; height: 2px; width: 25vw; background-color: var(--secondary-color);}
@media (max-width: 768px){
  .bodyDiv4First h2{
    font-size: 20px;
    font-weight: 400;
  }
  .bodyDiv4First{
   gap: 25vw;
}
.bodyDiv4ExploreAll{
  background: var(--black-color);
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
}
.bodyDiv4ExploreAll p{
  font-size: 13px;
}
.cardDetailDiv{
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}
.cardDetail{
  margin-bottom: 10px;
}
.cardDetail h3{
  text-align: start;
  width: 150px;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
}
.cardDetail h2{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  
  margin-right: 20px;
  
}
}