* {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: start;
}

.App {* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and borders are included in the total width and height */
}

.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --primary-color: #414042;
  --secondary-color: #58595B;
  --tertiary-color: #111111;
  --link-color: white;
  --link-hover-color: #1a212c;
  --dark-color: #1e1e1f;
  --black-color: #0d0d0e;
  --blackAlfa-color: #0d0d0ed7;
}

.NavDiv {
  position: fixed; /* Fixed positioning to keep it in view */
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  transition: top 0.01s; /* Smooth transition for moving up and down */
  z-index: 1000; /* Ensure it stays on top of other content */
}

.NavDiv.hide {
  top: -100%; /* Adjust this value based on the actual height of your Navbar */
}

.logoDiv {
  width: 70px;
  margin-left: 16px;
  background-color: aqua; /* Keep as is if this size works for your logo */
}

.logo-img {
  width: 100%; /* Ensures the logo fills the container width */
  height: auto; /* Maintains aspect ratio */
}
  font-family: sans-serif;
  text-align: center;
}

:root {
    --primary-color: #414042;
    --secondary-color: #58595B;
    --link-color: white;
    --link-hover-color: #939598;
    --dark-color: #1e1e1f;
    --blackAlfa-color: #0d0d0ed7;
  }
  .NavDiv{
    
    
    padding: 20px 0 ;
    justify-content: space-between;
    align-items: end;
    background-color: rgb(207, 207, 207);
    
    width: 100%;
    position: fixed; /* Fixed positioning to keep it in view */
      top: 0;
      left: 0;
      right: 0;
      
      transition: top 0.5s; /* Smooth transition for moving up and down */
      z-index: 1000; /* Ensure it stays on top of other content */
    
  }
  .NavDiv.hide {
    top: -100%; /* Adjust this value based on the actual height of your Navbar */
  }
  .logo-img{
    width: inherit;
  }
  .logoDiv{ width: 70px;}
  @media (max-width: 768px){
    .NavDiv{
    display: flex;
    flex-direction: row;
     align-items: center;
     
    }
    .logoDiv{ width: 50px;
      margin-left: 16px;
    }
   .Navbar{
    margin-right: 16px;
   }
  }